# Core functionality - changes here should be rare!
/src/app.py                   @whoami-anoint
/src/backend/database.py      @whoami-anoint
/src/backend/routers/auth.py  @whoami-anoint

# The frontend will need refactored soon to be more object oriented.
/src/static/   @whoami-anoint
